@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "游ゴシック体", "YuGothic", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

h1 {
  font-size: 34px;
  text-align: center;
  margin-bottom: 25px;
}

h2 {
  font-size: 21px;
}

p {
  text-align: center;
  display: block;
  font-size: 17px;
}

html {
  width: 1350px;
  height: auto;
}

body {
  width: 100%;
  height: auto;
}

header {
  height: 540px;
  width: 100%;
  background-image: url(bg-main_visual.jpg);
  background-size: cover;
}

header .header-logo {
  height: auto;
  width: auto;
}

header .header-logo img {
  width: 297px;
  height: 68px;
}

main {
  width: 100%;
}

main section {
  width: 100%;
  padding: 100px 0 100px 0;
}

　
main section.introduction {
  width: 100%;
  height: 500px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
}

main section.service {
  height: auto;
  width: 100%;
  background-image: url(bg-content@2x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

main section.service h1 {
  text-align: center;
  color: #fff;
  font-weight: 700;
  padding-bottom: 15px;
}

main section.service .service-container {
  height: auto;
  width: 85%;
  margin: 0 auto;
}

main section.service .service-container .inner {
  background-color: #fff;
}

main section.service .service-container img {
  height: 100%;
  width: 100%;
  display: block;
}

main section.service .service-container .box-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main section.performance {
  width: 100%;
  height: auto;
  text-align: center;
}

main section.performance .logo-container {
  margin: 0 auto;
  padding: 50px 0 0 0;
  height: auto;
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section.performance .logo-container .blue {
  font-weight: 600;
  font-size: 25px;
  color: #fff;
  border-radius: 50%;
  background-color: #5bc0eb;
}

@media (min-width: 771px) {
  main section.performance .logo-container .blue {
    line-height: 150px;
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 770px) {
  main section.performance .logo-container .blue {
    line-height: 180px;
    width: 180px;
    height: 180px;
    font-size: 40px;
    margin-top: 45px;
  }
}

main section.performance .logo-container .yerrow {
  font-weight: 600;
  font-size: 25px;
  color: #fff;
  border-radius: 50%;
  background-color: #fde74c;
}

@media (min-width: 771px) {
  main section.performance .logo-container .yerrow {
    line-height: 150px;
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 770px) {
  main section.performance .logo-container .yerrow {
    line-height: 180px;
    width: 180px;
    height: 180px;
    font-size: 40px;
    margin-top: 45px;
  }
}

main section.performance .logo-container .green {
  font-weight: 600;
  font-size: 25px;
  color: #fff;
  border-radius: 50%;
  background-color: #72c44f;
}

@media (min-width: 771px) {
  main section.performance .logo-container .green {
    line-height: 150px;
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 770px) {
  main section.performance .logo-container .green {
    line-height: 180px;
    width: 180px;
    height: 180px;
    font-size: 40px;
    margin-top: 45px;
  }
}

main section.performance .logo-container .red {
  font-weight: 600;
  font-size: 25px;
  color: #fff;
  border-radius: 50%;
  background-color: #e55934;
}

@media (min-width: 771px) {
  main section.performance .logo-container .red {
    line-height: 150px;
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 770px) {
  main section.performance .logo-container .red {
    line-height: 180px;
    width: 180px;
    height: 180px;
    font-size: 40px;
    margin-top: 45px;
  }
}

footer {
  width: 100%;
  height: 65px;
  background-color: #000;
  color: #fff;
  line-height: 65px;
}

footer small {
  display: block;
  width: auto;
  height: 65px;
}

footer .footer-link {
  margin-right: 20px;
  width: auto;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .footer-link a {
  display: block;
  font-size: 14px;
  color: #fff;
  height: 100%;
  width: auto;
  padding: 0 10px;
}

@media (min-width: 771px) {
  html {
    height: 100%;
    width: 100%;
  }
  html header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  html header .header-logo {
    width: auto;
    height: auto;
    margin: 0 0 70px 90px;
  }
  html header .header-logo img {
    height: 100%;
    width: 100%;
    display: block;
  }
  .performance .logo-container .company-logo {
    width: 35%;
  }
  .service .service-container {
    border: 50px solid rgba(2, 2, 2, 0.3);
  }
  .service .service-container .inner {
    width: 50%;
  }
  .service .service-container .column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .service .service-container .column-reverse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .service .service-container .box-text {
    height: 361px;
    padding: 20px 20px 20px 20px;
  }
  .service .service-container .box-text h2 {
    padding-bottom: 20px;
  }
  .service .service-container .box-text p {
    text-align: left;
  }
  .service .service-container img {
    background-color: #fff;
    display: block;
    width: 100%;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

footer small {
  position: absolute;
  left: 46vw;
  right: 46vw;
}

@media screen and (max-width: 770px) {
  html {
    width: 100%;
    height: auto;
  }
  header {
    height: 100vh;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header-logo {
    height: auto;
    width: auto;
  }
  header .header-logo img {
    height: 300px;
    width: 300px;
  }
  .introduction {
    width: 100%;
  }
  .introduction p {
    margin: 0 auto;
    width: 90%;
  }
  .service {
    width: 100%;
  }
  .service .service-container {
    height: auto;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 25px solid rgba(2, 2, 2, 0.3);
  }
  .service .service-container .inner {
    width: 100%;
  }
  .service .service-container .column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .service .service-container .column-reverse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .service .service-container img {
    width: 100%;
    height: 100%;
  }
  .service .service-container .box-text {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    padding: 20px 0;
  }
  .service .service-container .box-text p {
    padding-top: 20px;
    width: 70%;
  }
  .performance {
    width: 100%;
  }
  .performance p {
    margin: 0 auto;
    width: 90%;
  }
  .performance .logo-container {
    width: 90%;
    margin: 0 auto;
  }
  footer {
    width: 100%;
    height: auto;
  }
  footer small {
    position: absolute;
    left: 44vw;
    right: 44vw;
  }
}

@media (max-width: 540px) {
  footer {
    width: 100%;
    height: 120px;
    display: block;
  }
  footer .footer-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer small {
    position: absolute;
    left: 41.5vw;
    right: 41.5vw;
  }
}

@media (max-width: 540px) and (max-width: 414px) {
  .service h1 {
    width: 95%;
  }
  footer {
    width: 100%;
  }
  footer small {
    position: absolute;
    left: 38vw;
    right: 38vw;
  }
}
/*# sourceMappingURL=krowl2.css.map */
