@charset "UTF=8";

*{
    padding: 0;
    margin: 0;
    border: 0;
    list-style: none;
    box-sizing: border-box;

    font-family: "Montserrat", "Helvetica Neue", "Arial", "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Meiryo", "sans-serif";
    a{
        text-decoration:none;
            color: #333;
    }
    h1,h2,h3,h4,h5{
        font-weight: 700;
    }
}
@mixin section {
    width: auto;


    height: auto;
    padding: 0 50px 60px 50px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;           
        .section-title{
            width: auto;
        padding-top: 90px ;
        margin-bottom: 35px;
        font-size: 34px;                                                
        }
}

html{
    width: 13660x;
    body{
        width: 100%;
        color: #333;
            header,main,footer{
            width: 100%;
    
}
        header{
            background-color: #fff;
            position: fixed;
            top:0;
            z-index: 9;

            height: 68px;
            

            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            line-height: 68px;

            box-shadow: 0 3px 3px #f5f5f5;

            font-weight: 700;

            

            .header-logo{
                height: 100%;
                padding-left:25px;

                font-size: 20px;

            }

            ul{
                width: auto;
                height: 100%;


                
               
                
                
             
            }    
            
                
            @media(min-width:700px){
                .header-nav{
                    display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;

                padding-right: 25px;
                
                
                li{
                    width: auto;
                    padding-right: 15px;

                    font-size: 14px;

                    text-align: center;
                    a{
                        width: auto;
                    }
                }
                }
                .menu-icon{
                    display: none;

            }
                }
            @media(max-width:550px){
                .header-nav{
                    display: none;
                    flex-direction: column;
                    flex-wrap: wrap;
                    justify-content: center;
                    padding-bottom: 80px;
                    font-size: 35px;

                    align-items: center;

                    height: 100vh;
                    width: 100vw;

                      }
                .menu-icon{      
                    display: block;
                    width:70px;
                        height: 68px;

                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                    .fa-bars{
                        display: block;
                        
                    }
                    .fa-times{
                        display: none;
                    }
                }
            }

        
        }
        main{
            height: auto;

                .fv{
                    height: 600px;

                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    


                    h1{
                        font-size: 60px;
                        font-weight: 700;
                        letter-spacing: 10px;
                    }
                    h2{
                        font-size: 20px;
                        letter-spacing: 3px;
                        padding-top: 5px;

                        color:lighten($color: #333, $amount: 50%)
                    }
                    p{
                        font-size: 14px;
                        letter-spacing: 2px;
                        padding-top: 35px;
                    }
                    
                }
                
            }
            .WORKS{
                @include section;
                background-color: #f7f7f7;
                
                

                ul{
                    padding: 40px 0 0 0;

                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content:flex-start;
                   
                    li{
                        padding:0 10px 50px 10px;
                        &.c2,&.c3{
                            display: none;
                        }
                        a{
                            img{
                                width: 400px;
                                height: 300px;
                            }
                            
                            h4{
                                font-size: 14px;
                                color: #333;
                            }
                            p{
                                font-size: 11px;
                                color: #333;
                                opacity: 0.8;
                                letter-spacing: 1px;
                            }
                        }
                    }
                }
            }
            .SKILL{

                @include section;
                
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;

                letter-spacing: 1px;

                h3{
                    margin-bottom: 30px;
                }
                ul{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    li{
                        width: auto;
                        height: 120px;

                        display: flex;
                        flex-wrap: wrap;
                        flex-direction:row ;
                        justify-content: space-between;
                        align-items: center;
                        .box-img{
                            width: 60px;
                            height: 60px;
                            img{
                                width: 100%;
                                height: 100%;
                            }
                        }
                        .box-text{
                            width: 85%;
                            
                            h5{
                                font-size: 16px;
                                
                            }
                            p{
                                font-size: 14px;
                                line-height: 25px;
                                padding-top: 8px;
                            }
                        }
                    }
                }
                
                    
                }
            }
            .ABOUT{

                @include section;

                background-color: #f7f7f7;
                .about-container{
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    .about-img{
                        width: auto;
                        height: auto;

                        padding-right: 18px;
                        border-radius: 50%;
                        background-color: #f7f7f7;

                        display: flex;
                        
                        justify-content: center;
                        align-items: center;
                        img{
                            width: 160px;
                            height: 160px;
                            display: block;


                        }
                    }
                    .about-text{
                        width: 650px;
                        padding-left: 30px;
                        p{
                            font-size: 14px;
                            padding-bottom: 35px;
                            line-height: 25px;
                        }
                    }
                }
                .question-modal{
                    @mixin bg-color($bg-color){
                        background-color: $bg-color;
                    };
                    
                    .question{
                        @include bg-color(#fff);
                        box-shadow:0px 0px 5px #f2f2f2;
                        padding: 15px 15px;
                        border-radius: 15px;
                        border: #000;

                        span{
                            color:lighten( #333,  35%) ;
                            padding-left: 15px;
                        }
                    }
                    .answer{
                        @include bg-color(#fff);
                        display: none;

                        box-shadow:0px 0px 5px #f2f2f2;
                        padding: 15px 15px;
                        border-radius: 15px;
                    }
                }
            }
            .CONTACT{
                @include section();

                .adress-container{
                    width: auto;

                    padding-top: 30px;
                    margin-bottom: 20px;

                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    a{
                        display: block;
                        padding-right: 25px;
                        &.twitter{
                            color: aqua;
                        }
                        &.instagram{
                            color: violet;
                        }
                    }
                    p{

                    }

                }
                .contact-btn{
                    background-color: #333;
                    color: #f5f5f5;
                    padding: 15px 15px;
                    margin-top: 10px;
                    border-radius: 15px;
                    box-shadow: 0px 0px 5px lighten($color: #333, $amount: 20%);

                }
                .contact-btn:active{
                    background-color: #f5f5f5;
                    color: #333;
                    padding: -10px;
                }
                .contact-modal-wrapper{
                    display: none;

                    z-index: 10;
                    position: fixed;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                                        


                    background-color: #f5f5f5;
                    box-shadow: 0px 0px 10px #333;
                    width: auto;
                    height: auto;
                    border-radius: 20px;
                    padding: 30px 50px;

                    @mixin ct-div(){
                        width: 400px;
                        
                        
                        input{
                            height: 30px;
                            font-size: 20px;
                        }
                        textarea{
                            width: 100%;
                            font-size: 20px;
                        }

                    };
                    .name-container{
                        @include ct-div();
                    }

                    .adress-container{
                        @include ct-div();
                        display: flex;
                        flex-direction: column;
                    }
                    .message-container{
                        @include ct-div();
                    }
                    .close-btn{
                        width: 100%;
                        text-align: right;
                        display: block;
                        font-size: 25px;
                    }
                    .send-btn{
                        background-color: #333;
                        color: #f5f5f5;
                        padding: 15px 30px;
                        margin: 10px auto 0 auto;
                        display: block;
                        width: 100px;

                        box-shadow: 0px 0px 3px #f2f2f2;
                        border-radius: 20px;
                       
                    }
                }
            
            }
            
        }
        footer{
            height: auto;
            width: auto;

            text-align: center;
            
            a{
                display: block;
                background-color: #4c4c4c;

                width: 100%;
                height: 50px;
                .fa-angle-up{
                    color: white;
                    line-height: 50px;
                    height: auto;
                }
            }
            small{
                display: block;
                color:lighten(#4c4c4c, 20%);
                height: 90px;
                width: 100%;
                line-height: 90px;

                background-color: #333;
            }
        }


    
